body {
	background-color: beige;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 90vw;
}

button {
	height: 75px;
	cursor: pointer;
	background: royalblue;
    color: white;
    border-radius: 8px;
    border: 1px solid royalblue;
}

.reset {
	background: grey;
    border: 1px solid #ddd;
    color: white;
}

#container {
	width: 100%;
	max-width: 500px;
	margin: 10px auto;
	padding: 10px;
	background-color: lightblue;
    border-radius: 8px;
    border: 1px solid royalblue;
	box-shadow: 8px 10px 8px 0px #888888;
}

#buttonContainer,
#statusContainer,
#resetContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 10px 0;
}

#buttonContainer button,
#resetContainer button,
#statusContainer div {
	flex: 1;
}

.statusCaption {
	text-align: center;
}

.statusNumber {
	font-size: xx-large;
	text-align: center;
	transition-duration: 1000ms;
}

.winning {
	color: green;
}

.losing {
	color: red;
}

.gameOver {
	scale: 3;
}

.bold {
	font-weight: bold;
}

@media(max-width: 195px) {
	#roundNumberContainer {
		order: 2;
	}
}