body {
	background-color: lightblue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
	height: 75px
}

#container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

#buttonContainer,
#statusContainer,
#resetContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 10px 0;
}

#buttonContainer button,
#resetContainer button,
#statusContainer div {
	flex: 1;
}

.statusCaption {
	text-align: center;
}

.statusNumber {
	font-size: xx-large;
	text-align: center;
	transition-duration: 1000ms;
}

.winning {
	color: green;
}

.losing {
	color: red;
}

.gameOver {
	scale: 3;
}

.bold {
	font-weight: bold;
}

@media(max-width: 195px) {
	#roundNumberContainer {
		order: 2;
	}
}